@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Trashy Trash</h1>
        <p>
            <center><img src="~/images/Trash.jfif" alt="Alternate Text" /></center>
            <img />
            <center>Welcome to the Trashy Trash Company Website. We are the cheapest Trash pick up service in Trashyville, USA.<br /></center>
            <br /><center><h3>SIGN UP TODAY AND SAVE</h3></center>
        </p>

    </div>
