@model Trash_Collector.Models.Customer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="firstName" class="control-label"></label>
                <input asp-for="firstName" class="form-control" />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastName" class="control-label"></label>
                <input asp-for="lastName" class="form-control" />
                <span asp-validation-for="lastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="streetAddress" class="control-label"></label>
                <input asp-for="streetAddress" class="form-control" />
                <span asp-validation-for="streetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="zipCode" class="control-label"></label>
                <input asp-for="zipCode" class="form-control" />
                <span asp-validation-for="zipCode" class="text-danger"></span>
            </div>

            <asp:dropdownlist runat="server" id="ddlTest">
                <asp:listitem text="Red" value="1"></asp:listitem>
                <asp:listitem text="Black" value="2"></asp:listitem>
                <asp:listitem text="Blue" value="3"></asp:listitem>
                <asp:listitem text="Green" value="4"></asp:listitem>
                <asp:listitem text="Yellow" value="5"></asp:listitem>
            </asp:dropdownlist>

            @*<div class ="form-group">
           <label asp-for ="weeklyPickupDay">
           </label><select asp-for ="weeklyPickupDay" class="form-control" asp-items="">
           </select>
           <span asp-validation-for ="weeklyPickupDay" class="text-danger"></span>
        </div>*@


            @*<div class="form-group">
                <label asp-for="weeklyPickupDay" class="control-label"></label>
                <input asp-for="weeklyPickupDay" class="form-control" />
                <span asp-validation-for="weeklyPickupDay" class="text-danger"></span>
            </div>*@


            @*<select asp-for="Customers" asp-items="Model.Customer">*@
            @*<option value="">Pick one</option>
        </select>*@
        <div class="form-group">
            <label asp-for="weeklyPickupDay" class="control-label"></label>
            <select data-val="true" data-val-required="The Person field is required." id="Person" name="Person">
                <option value="">Pick one</option>
                <option value="1">Monday</option>
                <option value="2">Tuesday</option>
                <option selected="selected" value="3">Wednesday</option>
                <option value="4">Thursday</option>
            </select>
            <span asp-validation-for="weeklyPickupDay" class="text-danger"></span>
        </div>


                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
        </form>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
