@model Trash_Collector.Models.Customer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerId" />
            <div class="form-group">
                <label asp-for="firstName" class="control-label"></label>
                <input asp-for="firstName" class="form-control" />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastName" class="control-label"></label>
                <input asp-for="lastName" class="form-control" />
                <span asp-validation-for="lastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="streetAddress" class="control-label"></label>
                <input asp-for="streetAddress" class="form-control" />
                <span asp-validation-for="streetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="zipCode" class="control-label"></label>
                <input asp-for="zipCode" class="form-control" />
                <span asp-validation-for="zipCode" class="text-danger"></span>
            </div>

            @*<div class="form-group">
            <label asp-for="Input.Role"></label>
            <select asp-for="Input.Role" class="form-control" aspitems="@Model.Roles"></select>
            <span asp-validation-for="Input.Role" class="text-danger"></span>
        </div>

        "control-label"*@

            <div class="form-group">
                Your weekly pick up day is:<br />
                <br /><label asp-for="weeklyPickupDay" class="control-label"></label>
                <select data-val="true" data-val-required="The Pickup field is required." id="Pickup" name="Pickup">
                    <option value="">Pick one</option>
                    <option value="1">Monday</option>
                    <option value="2">Tuesday</option>
                    <option selected="selected" value="3">Wednesday</option>
                    <option value="4">Thursday</option>
                </select>
                <span asp-validation-for="weeklyPickupDay" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                <label asp-for="weeklyPickupDay" class="form-control"></label>
                <input asp-for="weeklyPickupDay" class="form-control" />
                <span asp-validation-for="weeklyPickupDay" class="text-danger"></span>
            </div>*@


            <div class="form-group"> 
                We are happy to offer an additional pick up (up to 4 times a month!) for only $10 each additional pickup.<br />
               <br /> <label asp-for="extraPickup" class="control-label"></label>
                <input asp-for="extraPickup" class="form-control" />
                <span asp-validation-for="extraPickup" class="text-danger"></span>
            </div>
            <div class="form-group">
                Going on vacation? Don't forget to suspend your service while you're away!<br />
                <br /><label asp-for="suspendPickupStart" class="control-label"></label>
                <input asp-for="suspendPickupStart" class="form-control" />
                <span asp-validation-for="suspendPickupStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="suspendPickupEnd" class="control-label"></label>
                <input asp-for="suspendPickupEnd" class="form-control" />
                <span asp-validation-for="suspendPickupEnd" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="invoice" class="control-label"></label>
            <input asp-for="invoice" class="form-control" />
            <span asp-validation-for="invoice" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="IdentityUserId" class="control-label"></label>
            <select asp-for="IdentityUserId" class="form-control" asp-items="ViewBag.IdentityUserId"></select>
            <span asp-validation-for="IdentityUserId" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" asp-action="Index">
            </div>
        </form>
</div>
</div>

<div>
    <a asp-action="Index">Back to Home Page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
